@import "Buttons.scss";
@import "Dialogue.scss";

$dialogue-history-background-color: rgba(30,30,30,1);

DialogueHistory {
    width: 60%;
    height: 65%;
    pointer-events: all;
    background-color: rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
    flex-direction: column;
    transition: opacity 0.1s;

    .title {
        color: white;
        font-family: $text-font;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        flex-shrink: 0;
        margin: 4px 0;
    }

    .history {
        flex-direction: column;
        overflow: scroll;
        flex-grow: 1;

        .dialogue {
            font-family: $dialogue-font;
            background-color: $dialogue-history-background-color;
            box-shadow: 0 0 5px 4px $dialogue-history-background-color;
            padding: 8px;
            margin: 6px 0;
            flex-direction: column;
            flex-shrink: 0;

            .character {
                font-weight: bold;
                font-size: $text-font-size;
            }

            .text {
                color: $dialogue-color;
                font-size: $text-font-size-small;
            }
        }
    }
}