@using Sandbox.UI;
@using System.Linq;

@namespace VNBase.UI
@inherits SubPanel

<root>
    <label class="title">History</label>
    <div class="history">
        @foreach (var dialogue in Player.DialogueHistory)
        {
            <div class="dialogue">
                @if (dialogue.SpeakingCharacter is not null)
                {
                    <div class="character" style="color: @dialogue.SpeakingCharacter.NameColor.Rgba">
                        @(dialogue.SpeakingCharacter.Name):</div>
                }
                <div class="text">@dialogue.Text</div>
            </div>
        }
    </div>

    <button onclick="@ToggleVisibility">Close</button>
</root>

@code {
    private bool IsInputPressed => Settings?.HistoryInputs.Any(x => x.Pressed) ?? false;

    public override void Tick()
    {
        if (IsInputPressed)
        {
            this.ToggleVisibility();
        }
    }

    protected override int BuildHash()
    {
        return Player.DialogueHistory.Count;
    }
}