@using System;
@using System.Linq;
@using Sandbox;

@namespace VNBase.UI
@inherits SubPanel

@if ( !Player.IsValid() )
{
    return;
}

<root>
    <div class="header">
        <label class="title">History</label>
    </div>

    <div class="history">
        @foreach ( var dialogue in Player.DialogueHistory )
        {
            <div class="dialogue">
                @if ( dialogue.SpeakingCharacter.IsValid() )
                {
                    <div class="character" style="color: @dialogue.SpeakingCharacter.NameColor.Rgba">@( dialogue.SpeakingCharacter.Name ):
                    </div>
                }
                <div class="text">@dialogue.Text</div>
            </div>
        }
    </div>

    <div class="footer">
        <button icon="close" onclick="@ToggleVisibility">Close</button>
    </div>
</root>

@code {
    #nullable enable
    private bool IsInputPressed => Settings?.HistoryInputs.Any( x => x.Pressed ) ?? false;

    public override void Tick()
    {
        if ( IsInputPressed )
        {
            ToggleVisibility();
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Player?.DialogueHistory.Count );
    }
}