// Stylize this however you wish for your game.
// What is here now is just an example.

Choices {
    position: absolute;
    width: 100%;
    height: 100%;

    .choicePanel {
        width: 550px;
        height: 25%;
        color: white;
        flex-direction: column;
        top: 45px;

        .item-dialogue {
            width: 100%;
            height: 30px;
            font-size: 24px;
            background-color: rgba(0,0,0,0.85);
            box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.85);
            margin-top: 25px;
            transition: all 0.1s linear;

            .label {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .item-dialogue:hover {
            color: red;
            cursor: pointer;
            font-size: 26px;
            background-color: rgba(0,0,0,0.95);
            box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.95);
            transition: all 0.1s linear;
        }
    }
}
