@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;

@namespace VNBase.UI

@attribute [StyleSheet]
@inherits SubPanel

<root>
    @if ( Player.ActiveDialogueChoices.Any() && !Player.TextEffectPlaying )
    {
        <div class="choicePanel">
            @for (var i = 0; i < Player.ActiveDialogueChoices.Count; i++)
            {
                var buttonIndex = i;
                <button class="choice" onclick="@(() => Player.ExecuteChoice(buttonIndex))">
                    @Player.ActiveDialogueChoices[i]
                </button>
            }
        </div>
    }
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(Player.ActiveDialogueText, Player.ActiveDialogueChoices);
    }
}