@import "/VNBase/UI/Styles/Buttons.scss";

Choices {
    position: absolute;
    width: 100%;
    height: 100%;

    .choicePanel {
        width: 650px;
        height: 50%;
        color: white;
        flex-direction: column;
        justify-content: center;
    }
}
