@import "Colors.scss";
@import "Fonts.scss";

$button-font: $text-font;
$button-font-size: $text-font-size;

// Generic Buttons.
.button {
    width: 100%;
    height: 50px;
    color: $button-primary-color;
    font-family: $button-font;
    font-size: $button-font-size;
    text-shadow: 0px 0px 2px 5px black;
    margin: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(35,35,35,0.9);
    box-shadow: 0px 0px 10px 2px rgba(35,35,35,0.9);
    transition: all 0.1s linear;

    &:hover {
        color: $button-hover-color;
        sound-in: "ui-hover";
    }

    &:active {
        sound-in: "ui-click";
    }
}

// Control Panel Buttons.
.control-button {
    width: 150px;
    height: 100%;
    color: $button-primary-color;
    font-family: $button-font;
    font-size: $button-font-size;
    margin: 0 0 0 0;
    background-color: rgba(35,35,35,0);
    box-shadow: 0px 0px 10px 2px rgba(35,35,35,0);
    transition: all 0.1s linear;

    &:hover {
        color: $button-hover-color;
        sound-in: "ui-hover";
    }

    &:active {
        sound-in: "ui-click";
    }
}

// Choice Selection Buttons.
.choice {
    width: 100%;
    height: 50px;
    color: $button-primary-color;
    font-family: $button-font;
    font-size: $button-font-size;
    text-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
    background-color: rgba(0,0,0,0.85);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.85);
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
    transition: all 0.1s linear;

    &:hover {
        color: $button-hover-color;
        background-color: rgba(0,0,0,0.95);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.95);
        sound-in: "ui-hover";
    }

    &:active {
        sound-in: "ui-click";
    }
}