VNHud {
    pointer-events: all;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    .centered {
        justify-content: center;
        align-items: center;
    }
}
