{
  "Version": 2,
  "Mixers": {
    "Guid": "3f33a15f-ab6a-40bb-ab74-c48baa71aa97",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "4bf5a155-6376-48ac-8607-24ef92251701",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "f51bb36b-f5fd-48ae-a70b-0ef666f258ee",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "f3b58194-4c10-4922-aba8-cb86df7af842",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "92c6914b-fe9e-4c9e-8b03-b7e49c1ccb99",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}