@using System;
@using System.Linq;
@using SandLang;

@namespace VNBase.UI
@inherits SubPanel

@if ( Player is null )
{
    return;
}

<root class="centered">
    @if (Player.State.Choices.Any() && Player.State.IsDialogueFinished)
    {
        <div class="choicePanel">
            @foreach (var choice in Player.State.Choices)
            {
                @{
                    var environment = Player.ActiveScript?.GetEnvironment();
                    string text = choice.Text;
                    var isAvailable = environment is not null && choice.IsAvailable(environment);
                }

                <button class="choice @(isAvailable ? "" : "hidden")" onclick="@(() => ExecuteChoice(choice))">
                    @text
                </button>
            }
        </div>
    }
</root>

@code {
#nullable enable
    private void ExecuteChoice(Dialogue.Choice choice)
    {
        Player?.ExecuteChoice(choice);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Player?.State.DialogueText, Player?.State.IsDialogueFinished, Player?.State.Choices.Count);
    }
}