@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;
@using SandLang;

@namespace VNBase.UI
@inherits SubPanel

<root>
    @if (Player.DialogueChoices.Any() && Player.DialogueFinished)
    {
        <div class="choicePanel">
            @foreach (var choice in Player.DialogueChoices)
            {
                @{
                    IEnvironment environment = Player.ActiveScript.GetEnvironment();
                    string text = choice.Text;
                    bool isAvailable = choice.IsAvailable(environment);
                }

                <button class="choice @(isAvailable ? "" : "hidden")" onclick="@(() => ExecuteChoice(choice))">
                    @text
                </button>
            }
        </div>
    }
</root>

@code {
    private void ExecuteChoice(Dialogue.Choice choice)
    {
        Player.ExecuteChoice(choice);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Player.DialogueText, Player.DialogueFinished, Player.DialogueChoices.Count);
    }
}