@keyframes blink {
    10% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

@import "/UI/Styles/Dialogue.scss";

DialogueBox {
    &.hidden {
        display: none;
    }
}
