@using Sandbox.UI;
@using System.Linq;

@namespace VNBase.UI

@attribute [StyleSheet]
@inherits SubPanel

<root>
    <div class="buttons" @ref=ControlButtons>
        <button id="DialogueHistory">History</button>
    </div>

    <DialogueHistory class="hidden" Player="@Player"/>
</root>

@code {
    public Panel ControlButtons { get; set; }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( !firstTime ) return;

        foreach ( Button button in ControlButtons.ChildrenOfType<Button>() )
        {
            SubPanel panel = GetSubPanelFromId( button.Id );

            button.AddEventListener("onclick", () =>
            {
                panel.ToggleVisibility();
            });
        }
    }

    private SubPanel GetSubPanelFromId( string id )
    {
        return this.ChildrenOfType<SubPanel>().SingleOrDefault(x => x.ElementName == id.ToLower());
    }
}