DialogueHistory {
    width: 75%;
    height: 85%;
    background-color: rgba(0,0,0,0.99);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.99);
    flex-direction: column;
    transition: opacity 0.1s linear;

    .title {
        width: 100%;
        height: 35px;
        color: white;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
    }

    .history {
        pointer-events: all;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        flex-direction: column;
        overflow: scroll;

        .dialogue {
            background-color: rgba(35,35,35,0.9);
            box-shadow: 0px 0px 10px 2px rgba(35,35,35,0.9);
            margin-top: 10px;
            flex-direction: column;

            .character {
                font-weight: bold;
            }

            .label {
                width: 100%;
                height: 100%;
                color: white;
                text-shadow: 0px 0px 5px black;
                font-size: 22px;
                margin: 5px 5px 5px 10px;
            }
        }
    }

    &.hidden {
        opacity: 0;
    }
}
