@using Sandbox.UI;

@namespace VNBase.UI

@attribute [StyleSheet]
@inherits SubPanel

<root>
    <label class="title">History</label>
    <div class="history">
        @foreach (var dialogue in Player.DialogueHistory)
        {
            <div class="dialogue">
                @if ( dialogue.SpeakingCharacter is not null )
                {
                    <div class="character" style="color: @dialogue.SpeakingCharacter.NameColor.Rgba">@(dialogue.SpeakingCharacter.Name):</div>
                }
                <div class="text">@dialogue.Text</div>
            </div>
        }
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        return Player.DialogueHistory.Count;
    }
}